.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
*.xlsx
*~
*.out
\#*\#
data/
*.sorted.gz
.Rbuildignore
leafviz/annotation_codes/
leafviz/annotation_codes.zip
*.o
*.so
leafcutter/src/stan_files/*.hpp